assets/img/yyyy.bmp
/output/chm
/output/html
py/bnf.dot
py/bnf.png
py/bnf.py
FreePascal.lck
FreePascal.hnd-journal
app/locale/de.po.bak
*.ppu
*.o
*.tmp
*.pak
*.dll
*.exe
*.o
*.ppu
*.lib
*.bak
app/helper.exe
app/lib/x86_64-win64/mainform.o
app/lib/x86_64-win64/mainform.ppu
/app/lib/x86_64-win64
/app/lib
app/vk_swiftshader_icd.json
app/v8_context_snapshot.bin
app/packed.zip
app/locale/de.po.bak
app/icudtl.dat
